   <div class="card">
     <div class="card-body">
       
     <img id="image" src="../../assets/images/oppertunity-divide.PNG" alt=""
     style="width:100%;height:500px;">
     <div class="container">
       <div class="row">
        <div class="col-md-5"></div>
          <div class="col-md-2">
            <a routerLink="/watchthevideo"><button type="button" class="btn btn-warning">Watch The Video</button></a>
          </div>
          <div class="col-md-5"></div>
       </div>
     </div>
     
   </div>
   </div>
    <!--ACCORDION-->
