<h1>What Year Up Offers</h1>
<p>Our one-year program includes:</p>
<ul>
<li>6 months professional training in IT, Financial Operations, Sales & Customer Support, Business Operations, or Software Development</li>
<li>6 month corporate internship with a respected company</li>
<li>Coursework eligible for college credit</li>
<li>Weekly educational stipend throughout the program</li>
<li>Guidance and support from a staff advisor and professional mentor</li>
</ul>
<p>90% of Year Up graduates are employed and/or enrolled in postsecondary education within four months of completing the program.</p>
<a class="btn btn-primary btn-lg btn-block" href="https://www.yearup.org/future-students/what-year-up-offers/" role="button">LEARN MORE ABOUT THE PROGRAM</a>
