<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
</head>
<body>
  <div class="jumbotron jumbotronHeaderImg">
    <div class="container">
        <br><br><br><br><br><br><br><br><br><br><br>
        <div class="border">
      <h1 class="display-4">Become a Year Up professional</h1>
      <br>
<p>Our one-year, intensive training program empowers low-income young adults to succeed in professional careers</p> 
    <p>and higher education. Are you ready to reach your full potential?</p>
<button type="button" class="btn btn-warning">GET STARTED</button>
</div>
</div>
</div>
</body>
</html>





