<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
</head>
<body>
  <div class="jumbotron jumbotronHeaderImg">
    <div class="container">
        <br><br><br><br><br><br><br><br><br><br><br>
        <div class="border">
      <h1 class="display-4"> Start a career. Hire a star.</h1>
      <br>
<p>We bring talented young adults and top companies together to launch careers, power</p> 
    <p>business, and build community.</p>
<button type="button" color="white" class="btn btn-warning">APPLY NOW</button>
</div>
</div>
</div>
</body>
</html>




