.container {
    position: absolute;
  
  }
  
  .text-block {
    position: absolute;
    bottom: 20px;
    left: 400px;
    color: azure;
  background-color:rgb(19, 19, 138);
  opacity: .85;
  height: 150px;
  width: 1000px;
  text-align: center;
  font-size: medium;
  
  
  }
