<div class="container">
    <div class="row">
        <h2>Motivated. Loyal. Professional.</h2>
        <p>These are the qualities you can expect from Year Up interns and graduates.
             Over 250 companies, including many of the Fortune 500, 
            are benefitting from a new pipeline of talent while investing in their communities.
        </p>
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <button class="btn btn-warning">Learn how companies benefit from Year Up</button>
        </div>
        
    </div>
</div>
