<h2>Who Can Apply?</h2>

<p> You can apply to Year Up if you are: </p>
<ul>
    <li>18-24 years old</li>
    <li>High school graduate or GED recipient</li>
    <li>Of low to moderate income</li>
   <li>A U.S. Citizen, permanent resident, or have an employment authorization card</li>
   <li>Available 5 days a week (Mon-Friday) for the full year of the program</li>
   <li>Highly motivated to learn new technical and professional skills</li>
   <li>Have not obtained a bachelor’s degree</li>
</ul>

   <a class="btn btn-primary btn-lg btn-block" href="https://www.yearup.org/stories-news/student-stories/#/student/1" role="button"> Meet Year Up Graduates</a>

