<div class="container">
    <div class="row">
        <h2>Over 90% of Year Up corporate partners would recommend the program to a colleague or friend</h2>
        <p>Our partners invest in local talent by providing internships to Year Up students. 
            Employers get a chance to meet, train, and work with potential new hires before officially bringing them on board.
        </p>
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <button class="btn btn-warning">Learn more about becoming a partner</button>
        </div>
        
    </div>
</div>
